@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply text-[0.9rem];
  }
}

body {
  --sb-track-color: #111111;
  --sb-thumb-color: #333333;
  --sb-size: 6px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
